
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /s08/s08-parcours-GuillaumeMORERO/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /s08/s08-parcours-GuillaumeMORERO/wordpress/index.php [L]
</IfModule>

# END WordPress